{% extends "prelogin-layout.html" %}

{% block title %}Registration {% endblock %}

{% block content %}

	<!-- Registration page html -->
	<h1>Get started</h1>

	<form action="{{ url_for('index')}}", method="POST">
		<!-- Username field -->
		<div>
			{{ form.username(class_ = 'form-control', placeholder='Username', autocomplete='off', autofocus=true)}}

			<!-- Unordered list for validations in username -->
			<ul>
				{% for error in form.username.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>

		<!-- Password field -->
		<div>
			{{ form.password(class_ = 'form-control', placeholder='Username')}}

			<!-- Unordered list for validations in password -->
			<ul>
				{% for error in form.password.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>

		</div>

		<!-- Confirm password field -->
		<div>
			{{ form.confirm_pswd(class_ = 'form-control', placeholder='Retype Password')}}

			<!-- Unordered list for validations in confirmation password -->

			<ul>
				{% for error in form.confirm_pswd.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>

		</div>

		<!-- Submit button -->
		<div>
			{{ form.submit_button }}
		</div>

		<!-- Security against Cross-Site Request Forgery attack -->
		{{ form.csrf_token }}

	</form>
{% endblock %}