{% from 'form_helper.html' import displayField %}

<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>

	<body>
		<!-- Navigation bar -->
		<nav>
			
		</nav>

		<div class="main-section">
			<!-- Room selection -->
			
			<nav class="sidebar">
				<h4>ROOMS</h4>
				{% for room in rooms %}
					<p class="select-room">{{ room|title }}</p>
				{% endfor %}


			</nav>


			<!-- Message area -->
			<div class="right-side-pannel">
				<div class="display-message-section">
					
				</div>

				<!-- Get username -->
				<script type="text/javascript">
					const username = `{{ username }}`;
				</script>

				<!-- Input area -->
				<div class="input-area">

					{{ displayField(form.message, 'Type here ...', class_='user-message') }}

					<div class="send-message">
						{{ form.submit_button }}
					</div>

				</div>
			</div>

		</div>


		<!-- SocketIO JS -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

		<!-- Custom SocketIO JS -->
		<script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

	</body>
</html>