body {
	background-image: linear-gradient(to bottom , #585858, white);  
}

nav	{

}

h4 {
	background-color: black;
	align-items: center;
	font-weight: bold;
  color: #BDBDBD;
  font-size: 1.5rem;
  font-style: oblique;
  font-family: "Georgia";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -3.5em;
}

.challenge-me {
  padding-right: 40em;


}

p {

}

.main-section {

}

.sidebar {

}

.right-side-pannel {

}

.display-message-section {
	position: absolute;
	top: 70px;
	right: 8px;
	float: right;
	height: 420em;
  width: 1000px;
  color: #BDBDBD;
  position: relative;
  top: -30.1em;
  right: 0em;
  background-color: black;
}

input[type=text] {
  color: white;
  background-color: black;
  border: 2px solid black;
  font-size: 1em;
}

input[type=text]:hover {
  color: red;
  border: none;
  background-image: linear-gradient(to right ,white, #ffcc33);
}

.user-message {
	position: absolute;
    top: 52%;
    left: 45%;
    margin-top: -400px;
    margin-left: -500px;
    width: 33.5em;
    height: 15em;
    color: black; 
}

input[type=submit] {
	color: white;
  	background-color: grey;
  	border: 1px solid black;
  	text-align: center;
  	font-size: 24px;
  	width: 405px;
  	position: absolute;
  	transition-duration: 0.4s;

  	position: absolute;
    top: 67%;
    left: 45%;
    margin-top: -350px;
    margin-left: -500px;
	
}

input[type=submit]:hover{
	color: black;
    background-image: linear-gradient(to right, black, white, black);
}

.select-room {
	font-size: 24px;
	height: 50px;
  width: 100px;
  background-color: black;
  color: white;
  position: relative;
  top: -4em;
  font-family: "Georgia";

}

.logout-redirect{
  position: relative;
  top: -2em;
  left: 4.5em;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: "Georgia";
  display: flex;
  justify-content: left;
  align-items: left;
  border: 1px #3B170B;   
}

.edit-redirect{
  position: relative;
  top: -0.35em;
  left: 0.2em;
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: "Georgia";
  border: 1px #3B170B;
  display: flex;
  justify-content: left;
  align-items: left;
}