body {
  background: #D8DBE2; 
}

h4 {
  background: gray;
  font-size: 30px;
  border: 2px solid black;
}

.challenge-me {
  background: gray;
  font-size: 30px;
  border: 2px solid black;
}

p {
  float: left;
}

p2 {
  border: 2px solid black;
  font-size: 30px;
  background: gray;  
}

p2:hover {
  background: black;
  color: white;  
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display-message-section {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.user-message {
  width: 350px;
  height: 100px;  

}

input[type=submit] {
  background: black;
  color: white;
  border: gray;
  width: 100px;
  font-size: 20px;  
  
}

input[type=submit]:hover{
  color: black;
  background: gray;
}

.logout-redirect{
  border: gray;
  color: white;
  background: black;
  float: left;
  width: 6em;
  font-size: 20px; 

}

.edit-redirect{
  border: gray;
  color: white;
  background: black;
  width: 6em;
  font-size: 20px; 

}